<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="akiles-cordova" version="1.0.0">
  <name>Akiles SDK</name>
  <description>Akiles SDK</description>
  <license>MIT</license>
  <keywords>akiles</keywords>
  <js-module src="www/akiles.js" name="akiles">
    <clobbers target="akiles"/>
  </js-module>
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="AKILES">
        <param name="android-package" value="app.akiles.cordova.AkilesPlugin"/>
      </feature>
    </config-file>
    <framework src="build.gradle" custom="true" type="gradleReference"/>
    <source-file src="src/android/AkilesPlugin.java" target-dir="src/app/akiles/cordova"/>
  </platform>
  <platform name="ios">
    <preference name="deployment-target" default="13.0" />
    <preference name="IPHONEOS_DEPLOYMENT_TARGET" default="13.0" />
    <preference name="IOS_INIT_ON_LOAD" default="true"/>
    <preference name="BLUETOOTH_RESTORE_STATE" default="false"/>
    <!-- <preference name="UseSwiftLanguageVersion" value="5" /> -->
    <config-file target="config.xml" parent="/widget">
      <feature name="AKILES">
        <param name="ios-package" value="AkilesPlugin" onload="$IOS_INIT_ON_LOAD"/>
      </feature>
    </config-file>
    <header-file src="src/ios/AkilesPlugin.h" target-dir="AkilesPlugin"/>
    <source-file src="src/ios/AkilesPlugin.m" target-dir="AkilesPlugin"/>
    <!-- pods
    <pods>
    </pods>-->
    <podspec>
      <pods use-frameworks="true">
        <pod name="AkilesSDK" git="https://github.com/akiles/akiles-ios.git" branch="main" />
      </pods>
    </podspec>
    <!-- iOS Permissions -->
    <preference name="BLUETOOTH_USAGE_DESCRIPTION" default="We need Bluetooth access to connect to devices."/>
    <config-file target="*-Info.plist" parent="NSBluetoothPeripheralUsageDescription">
      <string>$BLUETOOTH_USAGE_DESCRIPTION</string>
    </config-file>
    <config-file target="*-Info.plist" parent="NSBluetoothAlwaysUsageDescription">
      <string>$BLUETOOTH_USAGE_DESCRIPTION</string>
    </config-file>
    <config-file target="config.xml" parent="/*">
      <preference name="bluetooth_restore_state" value="$BLUETOOTH_RESTORE_STATE"/>
    </config-file>
  </platform>
</plugin>
